<html>
  <body>
    <table style="border: 1px solid black">
      <tr>
        <th>Titulo</th>
        <th>ISBN</th>
        <th>Autor/es</th>
      </tr>
    {% for libro in page_obj %} 
      <tr>
        <td>{{ libro.titulo|upper }}</td>
        <td>{{ libro.isbn }}</td>
        <td>{% for autor in  libro.autor.all %} {{ autor.nombre }} {% endfor %}</td>
      </tr>
    {% endfor %}
      </table><br>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
  </body>
</html>