{% extends 'base_template.html' %}

{% load static %}

{% block contenido %}
{% comment %} TODO Rediseñar template para que se vea en grillas {% endcomment %}


{# Usamos grid desde Bootstrap: https://getbootstrap.com/docs/5.3/layout/grid/#row-columns #}
<div class="container text-center">
  <div class="row row-cols-3">
  
    {% for persona in page_obj %}
      <div class="col">
        {# Usamos Cards desde Bootstrap: https://getbootstrap.com/docs/5.3/components/card/#mixins-utilities #}
        {% include 'card_persona.html' %}
      </div>
      {# Si no hay personas #}
    {% empty %}
      <p>No existen personas para mostrar</p>
    {% endfor %}

  </div>
</div>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; primera</a>
            <a href="?page={{ page_obj.previous_page_number }}">previa</a>
        {% endif %}

        <span class="current">
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">siguiente</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">última &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}