{% extends 'base_template.html' %}

{% load static %}

{% block contenido %}

{% if page_obj|length > 0 %}
  <table>
    <tr>
      <th>Año</th>
      <th>Película/s</th>
      <th>Puntuación</th>
    </tr>
{% endif %}
{% for pelicula in page_obj %}
    <tr>
      <td>{{ pelicula.anio_realizacion|date:"Y" }}</td>
      <td><a href="{% url 'detalle-pelicula-id' pelicula.id %}">{{ pelicula.titulo }}</a></td> 
      <td>{{ pelicula.calcular_puntuacion|floatformat:2 }}<br>
    </tr>
{% empty %}<p>-- No existen películas para mostrar --</p>
{% endfor %}
  </table>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; primera</a>
            <a href="?page={{ page_obj.previous_page_number }}">previa</a>
        {% endif %}

        <span class="current">
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">siguiente</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">última &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}