{% extends 'base_template.html' %}

{% load static %}

{% block contenido %}

{% for persona in page_obj %}
<div class="card border-success" style="max-width: 80vw;">
  <div class="card-header bg-transparent border-success">
    {{ persona.apellido }}, {{ persona.nombre }}
  </div>
  <div class="card-body text-success">
    <a href="{% url 'detalle-actor-id' persona.id%}">
      <img src="{{ persona.foto.url }}" class="card-img" alt="Foto de la Persona">
    </a>
  </div>
  <div class="card-footer bg-transparent border-success">
    {% for pelicula in persona.actor.all %}
      <a href="{% url 'detalle-pelicula-id' pelicula.id %}" >{{ pelicula.titulo }}</a><br>
    {% empty %}
    {% endfor %}
  </div>
</div> 
{% empty %}<p>-- No existen películas para mostrar --</p>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; primera</a>
            <a href="?page={{ page_obj.previous_page_number }}">previa</a>
        {% endif %}

        <span class="current">
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">siguiente</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">última &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}