{% extends 'base_template.html' %}

{% block contenido %}

{% if personas|length > 0 %}
  <table>
    <tr>
      <th>Director/a</th>
      <th>Película/s</th>
    </tr>
    {% for persona in personas %}
      <tr>
        <td><a href="{% url 'detalle-director-id' persona.id %}">{{ persona.apellido }}, {{ persona.nombre }}</a></td>
        <td>{% for pelicula in persona.director.all|dictsort:"anio_realizacion" %}
              <a href="{% url 'detalle-pelicula-id' pelicula.id %}">
                {{pelicula.anio_realizacion}} - {{ pelicula.titulo }}</a><br> 
            {% empty %} <br>
            {% endfor %}
        </td>
      </tr>
    {% empty %} <br>

    {% endfor %}

  </table>
{% endif %}

{% endblock %}