{# En cada template que quiera usar archivos estáticos, se debe usar el load #}
{% load static %}

{# https://getbootstrap.com/docs/5.3/components/navbar/ #}
<nav class="navbar navbar-expand-lg bg-body-tertiary" >
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'main-page' %}"><img src="{% static 'peliCura/logo.svg' %}"/></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'peliculas-listado' %}">Películas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'directores-listado' %}">Directores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'actores-listado' %}">Actores</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Géneros
          </a>
          <ul class="dropdown-menu">
            {% for genero in generoNavBar %}
            <li><a class="dropdown-item" href="{% url 'genero-listado-id' genero.id %}">{{ genero.nombre }}</a></li>
            {% endfor %}
          </ul>
        </li>
      </ul>
{% comment %} TODO Implementar formulario de búsqueda: titulo, año, persona {% endcomment %}
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>

