{% extends 'base_template.html' %}

{% load static %}

{% load filtros_custom %}

{% block contenido %}
  <h4>Título: {{ pelicula.titulo }}</h4>
  <h4>Puntuación: {{ pelicula.puntuacion|floatformat:2 }}</h4>  
  <img src="{{ pelicula.poster.url }}" width="30%" height="auto"/>  
  <h4>Resumen:<br>{{ pelicula.resumen }}</h4>
  <h4>Año realización:<br>{{ pelicula.anio_realizacion }}</h4>  
  <h4>Duración:<br>{{ pelicula.duracion|humanizar_timedelta }}</h4>  
  <h4>Género/s:<br> 
    {% for genero in generos %}
      <a href="{% url 'genero-listado-id' genero.id %}" target="_self">{{ genero.nombre }}</a><br>
      {% empty %} <br>
    {% endfor %}
  </h4>
  <h4>Director/es:<br>
    {% for director in directores %} 
      <a href="{% url 'detalle-director-id' director.id %}" target="_self">
        {{ director.nombre }} 
        {% if director.nombre_artistico %}
          "{{ director.nombre_artistico }}"
        {% endif %}
        {{ director.apellido }}</a><br> 
      {% empty %} <br>
    {% endfor %}
  </h4>
  <h4>Actor/es:<br> 
    {% for actor in actores %}
      <a href="{% url 'detalle-actor-id' actor.id %}" target="_self">
        {{ actor.nombre }} 
        {% if actor.nombre_artistico %}
          "{{ actor.nombre_artistico }}"
        {% endif %}
        {{ actor.apellido }}</a><br>
      {% empty %} <br>
    {% endfor %}
  </h4>

  {# Incluímos el formulario de los comentarios #}
  {% include 'formulario_comentario.html'%}

  {# Incluímos los comentarios aprobados de la película #}
  {% include 'listado_comentarios.html'%}

{% endblock %}




