/* Variables globales */
:root {
  --skyBlue: #8ecae6; 
  --blueGreen: #219ebc; 
  --prussianBlue: #023047; /* Color de fondo */
  --selectiveYellow: #ffb703;  
  --UTOrange: #fb8500;/* Fuentes */ 
}

/* Elementos */
body {
  background-color: var(--prussianBlue);
  color: var(--selectiveYellow);
  font-family: monospace;
  font-weight: bold;
}

table, th, td {
  border: 2px solid var(--selectiveYellow);
  border-collapse: collapse;
  text-align: center;
  padding: 5px 5px;
  width: fit-content;
}


/* Clases */

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

.listado-peliculas {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  
}

  /* Sobreescribir Bootstrap */
  .nav-link{
    color: var(--prussianBlue);
    font-weight: bolder;
  }
  
  .container {
    /*background-color: var(--blueGreen);*/
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navbar { /* Padding y borde inferior de la barra de navegación */
    padding: 0%;
    border-bottom: 5px solid white;
  }

  .container-fluid { /* Color de fondo del contenedor interno de la barra de navegación */
    background-color: var(--skyBlue);
  }

  /* .container {
    border: 10px solid red; 
  } */

  .text-center {
    /* border: 10px solid black; */
    width: 100%;
  }

  /* .row {
    border: 5px solid red;  
  } */

  .row-cols-3 {
    border: 2px solid orange;
    box-sizing: border-box;
  }

  .col {
    float: left;
    width: 33,33%;
    height: auto;
    border: 1px solid yellow;
    margin-bottom: 1vw;
  }

  .card {
    /* border: 10px solid white; */
    margin: auto;
    display: block;
    border: 5px solid #023047;
    /* border-radius: 50% 50% 50% 50%; */
  }
 
  .card-img {
    width: 100%;
    height: auto;
    border: 5px solid var(--selectiveYellow);
  }

  .card-header, .card-footer, .card-body {
    text-align: center;
  }
/*
  .card-img-overlay h5, p {
    border: 5px solid black;
    background-color: rgba(227, 13, 13, 0.5);
    color: yellow;
    width: fit-content;
    padding: 0.3vw;
    margin: 0%;
  } */

  .col:hover {
    transform: scale(1.1, 1.1);
    z-index: 18;
  }

  .formulario-comentario, .listado-comentarios {
    max-width: 80vw;
    margin: auto;
    display: block;
    text-align: center;
  }

  .formulario-comentario table{
    margin: auto;
    display: block;
    text-align: center;
  }

  .listado-comentarios {
    border: 2px solid var(--selectiveYellow);
  }

  
/* Ids */

