/* Variables globales */
:root {
  --skyBlue: #8ecae6; 
  --blueGreen: #219ebc; 
  --prussianBlue: #023047; /* Color de fondo */
  --selectiveYellow: #ffb703;  
  --UTOrange: #fb8500;/* Fuentes */ 
}

/* Elementos */
body {
  background-color: var(--prussianBlue);
  color: var(--selectiveYellow);
  font-family: monospace;
  font-weight: bold;
}

table, th, td {
  border: 2px solid var(--selectiveYellow);
  border-collapse: collapse;
  text-align: center;
  padding: 5px 5px;
  width: fit-content;
}

/* Clases */
/*
.contenido {
  background-color: var(--blueGreen);
}
*/

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}


  /* Sobreescribir Bootstrap */
  .nav-link{
    color: var(--prussianBlue);
    font-weight: bolder;
  }
  
  .container {
    /*background-color: var(--blueGreen);*/
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navbar { /* Padding y borde inferior de la barra de navegación */
    padding: 0%;
    border-bottom: 5px solid white;
  }

  .container-fluid { /* Color de fondo del contenedor interno de la barra de navegación */
    background-color: var(--skyBlue);
  }

  .card {
    width: 100%;
    height: 100%;
  }

  .col:hover {
    transform: scale(1.1, 1.1);
    z-index: 18;
  }

/* Ids */

