/* Variables globales */
:root {
  --skyBlue: #8ecae6; 
  --blueGreen: #219ebc; 
  --prussianBlue: #023047; /* Color de fondo */
  --selectiveYellow: #ffb703;  
  --UTOrange: #fb8500;/* Fuentes */ 
}

/* Elementos */
body {
  background-color: var(--prussianBlue);
  color: var(--selectiveYellow);
  font-family: monospace;
  font-weight: bold;
}

table, th, td {
  border: 2px solid var(--selectiveYellow);
  border-collapse: collapse;
  text-align: center;
  padding: 5px 5px;
  width: fit-content;
}


/* Clases */

a:link, a:visited, a:active {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #ffb703;
}

.listado-peliculas {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.listado-peliculas table {
  caption-side: top;
}

  /* Sobreescribir Bootstrap */
  .nav-link{
    color: var(--prussianBlue);
    font-weight: bolder;
  }
  
  .container {
    /*background-color: var(--blueGreen);*/
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navbar { /* Padding y borde inferior de la barra de navegación */
    padding: 0%;
    border-bottom: 5px solid white;
  }

  .container-fluid { /* Color de fondo del contenedor interno de la barra de navegación */
    background-color: var(--skyBlue);
  }

  /* .container {
    border: 10px solid red; 
  } */

  .text-center {
    /* border: 10px solid black; */
    width: 100%;
  }

  /* .row {
    border: 5px solid red;  
  } */

  .row-cols-3 {
    /* border: 2px solid orange; */
    box-sizing: border-box;
  }

  .col {
    float: left;
    width: 33,33%;
    height: auto;
    /* border: 1px solid yellow; */
    margin-bottom: 1vw;
  }

  .card {
    /* border: 10px solid white; */
    min-height: 100%;
    margin: auto;
    display: block;
    width: fit-content;
    /* border: 5px solid #023047; */
    /* border-radius: 50% 50% 50% 50%; */
  }
 
  .card-img {
    object-fit: cover;
    width: 100%;
    height: auto;
    border: 5px solid var(--selectiveYellow);
  }

  .card-img-detalle {
    max-width: 100%;
    object-fit: contain;
    width: auto;
    height: 75vh;
    border: 5px solid var(--selectiveYellow);

  }
  
  .card-img-listado {
    /* min-width: 100px;
    min-height: 166px; */
    max-width: 100%;
    max-height: 300px;
    object-fit: scale-down;
    width: 300px;
    height: 500px;
    /* border: 5px solid var(--selectiveYellow); */
  }

  .card-header, .card-footer, .card-body {
    text-align: center;
  }

  .card-header {
    max-height:fit-content;
    /* border: 5px solid brown; */
  }

  .card-body {
    min-height:100%;
    /* border: 5px solid brown; */
  }

  .bg-card-persona {
    background-image: radial-gradient(var(--skyBlue),
                                      var(--blueGreen),
                                      var(--prussianBlue));
  }

  .fondo-poster {
    background-color: var(--prussianBlue);
    color: var(--skyBlue);
  }

  .card-footer {
    max-height:fit-content;
    /* border: 5px solid brown; */
  }
  
  .col .card:hover {
    transform: scale(1.1, 1.1);
    z-index: 18;
  }

  .formulario-comentario, .listado-comentarios {
    max-width: 80vw;
    margin: auto;
    display: block;
    text-align: center;
  }

  .formulario-comentario table{
    margin: auto;
    display: block;
    text-align: center;
  }

  .listado-comentarios {
    border: 2px solid var(--selectiveYellow);
  }

  
/* Ids */

